<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <input class="input-medium focused span6 calc" name="custo0" id="custo0" type="text" value="" />


    <input class="input-medium focused span6 calc" name="markup0" id="markup0" type="text" value="" />

    <input class="input-medium focused span6 result" name="venda0" id="venda0" type="text" value="" />

    <input class="input-medium focused span6 calc" name="taxa0" id="taxa0" type="text" value="" />

    <input class="input-medium focused span6 calc" name="frete0" id="frete0" type="text" value="" />

    <input class="input-medium focused span6 calc" name="margem0" id="margem0" type="text" value="" />


    <script src="js/js_1.9/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //Quando o valor do campo mudar...
            $('.calc').keyup(function () {
                var custo0 = parseFloat($('#custo0').val().replace(".", "").replace(",", ".")) || 0.00;
                var markup0 = parseFloat($('#markup0').val().replace(".", "").replace(",", ".")) || 0.00;
                var taxa0 = parseFloat($('#taxa0').val().replace(".", "").replace(",", ".")) || 0.00;
                var frete0 = parseFloat($('#frete0').val().replace(".", "").replace(",", ".")) || 0.00;
                //calculos
                var valor_markup = custo0 * markup0 / 100;
                var f12 = custo0 + valor_markup;
                var f13 = f12 + frete0;
                var i11 = (100 - taxa0) / 100;
                var d7 = f13 / i11;
                var valor_taxa = d7 * taxa0 / 100;
                var cmv = custo0 + frete0 + valor_taxa;

                //O total 
                var venda0 = d7;
                var margem0 = 100 - (cmv / d7) * 100;

                $('#venda0').val(number_format(venda0, 2, ',', '.'));
                $('#margem0').val(number_format(margem0, 2, ',', '.'));

            });
        });

        function number_format(number, decimals, dec_point, thousands_sep) {
            var n = number, c = isNaN(decimals = Math.abs(decimals)) ? 2 : decimals;
            var d = dec_point == undefined ? "," : dec_point;
            var t = thousands_sep == undefined ? "." : thousands_sep, s = n < 0 ? "-" : "";
            var i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
            return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
        }

    </script>

</body>

</html>